.menu {
  padding: 16px 8px;
  height: 443px;
  background: #111827;
  position: absolute;
  width: 100%;
  left: 0;
  top: 72px;
  z-index: 1000;
  &__sign-up {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #1f2937;
    border-radius: 8px;
    color: white;
    padding: 8px;
    gap: 8px;
  }

  &__nav-link-wrapper {
    display: flex;
    height: 56px;
    padding: 20px 0px;
    border-bottom: 1px solid white;
    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
  &__nav-link {
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
}
