.header {
  display: flex;
  justify-content: space-between;
  padding: 21px 8px;
  align-items: center;
  background-color: #111827;
  height: 72px;
  position: relative;
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
  }
  &__select-language {
    color: white;
    font-weight: bold;
  }
}
