.main-page {
  display: flex;
  background-color: #e5e5e5;
  flex-direction: column;
  align-items: center;

  &__catalog {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 144px 144px;
    gap: 12px;
    width: 100%;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
  }
}
