.bg-light-lime {
  background-color: #e2fedb;
}
.text-dark-green {
  color: #6ba91a;
}
.bg-dark-green {
  background-color: #64a315;
}
.bg-banner-color {
  background: linear-gradient(180deg, #cbd623 0%, #41701e 100%);
}
.text-transparent-white {
  color: rgba(255, 255, 255, 0.5);
}
.w-76 {
  width: 304px;
}
.text-blue {
  color: #2563eb;
}
